@keyframes uptodown {
    from{
        opacity: 0;
        margin-top: -50%;
    }
    to{
        margin-top: 0%;
        opacity: 1;
    }
}

*{
    box-sizing: border-box;
    font-size: 110%;
}

header{
    background-color: #FCA61B;
}

nav{
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 70%;
}

section{
    padding: 3%;
    background-color: #013ECC;
    text-align: center;
    color: white;
}

section .content{
    height: 500px;
    width: 70%;
    margin: 0 auto;
}

.content div{
    animation: uptodown 3s;
}
.content div h1{
    font-size: 350%;
    padding: 2%;
    color: #FCA61B;
    font-weight: bolder;
}

.content div p{
    width: 80%;
    margin: 0 auto;
}

section img{
    width: 30%;
}

section .part-circle{
    width: 80%;
    padding: 5%;
    margin: 0 auto;
}

.part-circle div{
    width: 180px;
    display: inline-block;
    padding: 5% 3% 5% 3%;
    margin: 0 2%;
    background-color: white;
    color: #FCA61B;
    font-size: 90%;
    border-radius: 50%;
}

.part-circle div:nth-of-type(even){
    color: #013ECC;
}

@media screen and (max-width: 690px) {
    nav{
        width: 100%;
        grid-template-columns: auto auto;
    }

    nav div{
        grid-row: 1 / span 2;
        width: 60%;
        margin: 0 auto;
    }
}