@keyframes uptodown {
    from{
        opacity: 0;
        margin-top: -50%;
    }
    to{
        margin-top: 0%;
        opacity: 1;
    }
}

@keyframes roundout {
    from{
        transform: rotate(-360deg) translate3d(0, 0, -900px);
    }
    to{
        transform: rotate(360deg) translate3d(0, 0, 0px);
    }
}

*{
    box-sizing: border-box;
    font-size: 110%;
}

header{
    background-color: #FCA61B;
}

nav{
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 60%;
}

.home{
    perspective: 600px;
    padding: 3% 3% 15% 3%;
    background-color: #013ECC;
    text-align: center;
    color: white;
}

.home .content{
    height: 500px;
    width: 70%;
    margin: 0 auto;
}

.content div{
    animation: uptodown 3s;
}
h1{
    width: 90%;
    margin: 0 auto;
    font-size: 350%;
    color: #FCA61B;
    font-weight: bolder;
}

h6{
    padding-bottom: 2%;
    font-size: 110%;
    color: white;
}

h3{
    color: black;
    font-size: 110%;
    padding: 4% 0 4% 0;
}

h4{
    width: 90%;
    margin: 0 auto;
    font-weight: bolder;
}

p{
    width: 90%;
    margin: 0 auto;
}

.home img{
    width: 30%;
    animation: roundout 2s;
}

.home .part-circle{
    width: 80%;
    padding: 5%;
    margin: 0 auto;
}

.part-circle a{
    width: 180px;
    display: inline-block;
    padding: 5% 3% 5% 3%;
    margin: 0 2%;
    background-color: white;
    color: #FCA61B;
    text-decoration: none;
    border: 3px solid white;
    font-size: 90%;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.part-circle a:nth-of-type(even){
    color: #013ECC;
}

.part-circle .yellow:hover{
    border: 3px solid rgba(252, 166, 27, 0.5);
    transform: translateY(-12px);
}

.part-circle .blue:hover{
    border: 3px solid rgba(1, 62, 204, 0.5);
    transform: translateY(-12px);
}

.sec1{
    height: 380px;
    background-color: #FCA61B;
}

.sec1-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 75%;
}

.sec1-container div{
    width: 29%;
    background-color: white;
    margin-top: -200px;
    height: 450px;
    z-index: 5;
    border-radius:4%;
    padding: 2%;
}

.sec1-container h4{
    color: #013ECC;
    font-size: 150%;
    padding: 7% 0 7% 0;
}

button{
    width: 40%;
    background-color: #FCA61B;
    color: white;
    border-radius: 4%;
    padding: 4%;
    border: none;
    margin: 10% 0 0 5%;
}

.sec1-container button:hover{
    background-color: #013ECC;
    color: white;
}

.sec2{
    perspective: 600px;
    padding: 3% 3% 15% 3%;
    background-color: #013ECC;
    text-align: center;
    color: white;
}

.sec2-content{
    width: 80%;
    margin: 0 auto;
}

.sec2-container{
    display: flex;
    flex-direction: row;
    padding-top: 10%;
}

.aboutme{
    padding: 15% 0;
    flex: 50%;
}

.aboutme2{
    flex: 50%;
}

.sec2-container img{
    width: 50%;
}

.sec2-container button:hover{
    color: #013ECC;
    background-color: white;
}

.skills{
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 10%;
}

.skills div{
    text-align: left;
    padding: 15% 0 25% 10%;
    background-color: white;
    border-radius: 10%;
    font-size: 100%;
}

.skills i{
    margin-top: 15%;
    font-size: 280%;
}

.lists-container{
    background-color: #FCA61B;
    color: white;
    text-align: center;
    padding: 4%;
}

.lists-container p{
    width: 50%;
    margin: 0 auto;
    padding: 2% 0 4% 0;
}

.list-row{
    text-align: left;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 70%;
}

.list-row ul{
    flex: 30%;
}

li{
    font-weight: 100;
    list-style: none;
}

@media screen and (max-width: 690px) {
    nav{
        width: 100%;
        grid-template-columns: auto auto;
    }

    nav div{
        grid-row: 1 / span 2;
        width: 60%;
        margin: 0 auto;
    }
}